* {
  font-family: "Poppins";
  font-weight: 400;
}

p,h2{
    margin:0
}

body{
    margin: 0;
    padding: 0;
}

.body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: powderblue;
    overflow: hidden;
}
.header{
    padding: 0.1rem;
    color: lightskyblue;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    max-height: 100px;
    width: 100%;
}

.header img{
    width: 10%;
    height: 100%;
    border-radius: 50%;
    float: left;
}

.main{
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 20vh;
    overflow-y: auto;
    gap: 2em;
}

.file{
    display: flex;
    border-radius: 25px;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 80%;
    left: 75%;
    z-index: 1;
    border-radius: 50%;
    background-color: white;
    width: 18%;
    height: 10%;
}