* {
  font-family: "Poppins";
  font-weight: 400;
}

p,h2{
    margin:0;
}
p{
    color: ghostwhite;
    font-weight: 600;
    font-size: 1rem;
}

h2{
    font-weight: 600;
}

body{
    margin: 0;
    padding: 0;
}

.body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #F2EFE7;
    overflow: hidden;
}
.header{
    padding: 0.3rem;
    color: lightskyblue;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    max-height: 100px;
    width: 100%;
}

.header img{
    width: 10%;
    height: 100%;
    border-radius: 50%;
    float: right;
}

.main{
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 20vh;
    overflow-y: auto;
    gap: 2em;
}

.file{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    /*border: 2px solid lightblue;*/
    justify-content: center;
    align-items: center;
    background-color: #48A6A7;
    color: lightblue;
    box-shadow: 4px 4px 12px rgba(0, 50, 100, 0.2);
}


.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 80%;
    left: 75%;
    z-index: 1;
    border-radius: 50%;
    background-color: whitesmoke;
    color: lightskyblue;
    width: 18%;
    height: 10%;
    font-size: 45px;
}

.file > iconify-icon{
    color: #DDEEF1;
    font-size: 96px;
    text-shadow: 4px 4px 12px rgba(0, 50, 100, 0.2);
}

.file > .name{
    min-width: 0;
    max-width: 30vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*download flex box cheat sheets from css-tricks.com*/