* {
  font-family: "Poppins";
  font-weight: 400;
}

p,h2{
    margin:0
}

body{
    margin: 0;
    padding: 0;
}

.body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: powderblue;
}
.header{
    padding: 0.1rem;
    color: lightskyblue;
    background: white;
    display: flex;
    align-items: center;
    height: 15%;
    width: 100%;
}

.header img{
    width: 10%;
    height: 100%;
    border-radius: 50%;
}

.main{
    padding: 0 1rem;
    display: grid;
    height: 95%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    overflow-y: auto;
    gap: 2em;
}

.file{
    border-radius: 20px;
    border: 2px solid blue;
}

.circle{
    position: fixed;
    top: 80%;
    left: 75%;
    z-index: 1;
    border-radius: 50%;
    background: black;
    width: 70px;
    height: 70px;
}