

.header{
    padding: 3em 0 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header img{
    flex-direction: column;
    border-radius: 50%;
    width: 40%
}

.smalls{
    padding-bottom: 10em;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    gap: 7em;
    align-items: center;
    justify-content: center;
}

