* {
  font-family: "Poppins";
  font-weight: 400;
}

p,h2{
    margin:0
}

body{
    background-color: powderblue;
    color: white;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: black;
    cursor: pointer;
    transition: color .5s ease-in;
}

a:hover{
    color: darkblue;
}

input{
    background: none;
    color: black;
    border:none;
    outline: none;
    padding: 0.2em;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.screen{
    height: 100vh;
    max-height: 720px;
    position: relative;
    background-color: powderblue;
    padding: 2em;
    display:flex;
    flex-direction: column;
    border-radius: 2rem;
    box-shadow: 0 0 30px lightsteelblue;
    gap: 2em;
}

.field {
    
    background-color: white; 
    color: black;
    box-shadow: 4px 4px 12px rgba(0, 50, 100, 0.2);
    border-radius: 21px;
    border: .1em solid whitesmoke;
    padding: 1em;
    display:flex;
    flex-direction: column;
    gap: 0.9em;
}

ion-icon{
    margin-bottom: -0.2em;
}


.field label{
    font-size: .9em;
}

.submit:hover input,.field:hover{
    border-color: #1B263B;
    color: #1B263B;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}


.submit input{
    border-radius: 2em;
    padding: .8em;
    background-color: cadetblue;
    color: white;
    width: 100%;
    height: 100%;
    font-weight: 700;
    cursor: pointer;
}

.request, .request > form{
    display: inline;
}

.request > form > input{
    background-color: powderblue;
    border: 1px solid lightblue;
    border-radius: 2px;
}