* {
  font-family: "Poppins";
  font-weight: 400;
}

p,h2{
    margin:0
}

body{
    background-color: powderblue;
    color: white;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: black;
    cursor: pointer;
    transition: color .5s ease-in;
}

a:hover{
    color: darkblue;
}

input{
    background: none;
    color: black;
    border:none;
    outline: none;
    padding: 0.2em;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.screen{
    height: 100vh;
    max-height: 720px;
    position: relative;
    background-color: powderblue;
    padding: 2em;
    display:flex;
    flex-direction: column;
    border-radius: 2rem;
    box-shadow: 0 0 30px lightsteelblue;
    gap: 2em;
    overflow-y: auto;
}

.field {
    
    background-color: white; 
    color: black;
    box-shadow: 4px 4px 12px rgba(0, 50, 100, 0.2);
    border-radius: 21px;
    border: .1em solid whitesmoke;
    padding: 1em;
    display:flex;
    flex-direction: column;
    gap: 0.9em;
}

ion-icon{
    margin-bottom: -0.2em;
}

.error{
    border-color: red;
    color: red;
}

.field label{
    font-size: .9em;
}

.submit:hover input,.field:hover{
    border-color: #1B263B;
    color: #1B263B;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}


.submit input{
    border-radius: 2em;
    padding: .8em;
    background-color: cadetblue;
    color: white;
    width: 100%;
    height: 100%;
    font-weight: 700;
    cursor: pointer;
}

.flash{
    display: flex;
    position: absolute;
    padding: .8em;
    border-radius: 10px;
    text-align: center;
    background-color: #FF1414;
    align-self: flex-end;
    top: 3%;
    width: 80%;
    font-size: 18px;
    opacity: 1;
    gap: .4em;
    z-index: 1;
    box-shadow: 4px 4px 12px rgba(0, 50, 100, 0.3);
    animation: FadeOut 0.5s ease-in 3s forwards;
}

@keyframes FadeOut{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(-100%);
        opacity: .3;
        visibility: hidden;
    }
}

.flash > span{
	font-size: 30px;
}

.flash.success{
    background-color: #48A6A7;
    color: ghostwhite;
}