*{
    margin: 0;
    font-family: "Poppins"
}

.body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: lightblue;
    padding: 20px;
    gap: 20px;
}

img{
    align-self: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

input {
    background-color: white; 
    color: black;
    box-shadow: 4px 4px 12px rgba(0, 50, 100, 0.3);
    border-radius: 10px;
    border: .1em solid whitesmoke;
    padding: .7em;
    display:flex;
    grid-row-start: 2;
    grid-column: span 5;
}

input:focus{
    outline: none;
    border-color: cadetblue;
}
.field{
    border-top: 1px solid cadetblue;
    padding-top: 10px;
    /*border-width: 2px 0;*/
}
.field > form{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: .5rem;
}

.submit{
    grid-row-start: 3;
    grid-column-start: 4;
    background-color: #48A6A7;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

label{
    font-size: 18px;
}

.logout{
    width: 50vw;
    max-width: 300px;
    height: 7vh;
    max-height: 50px;
    align-self: center;
    border-radius: 10px;
    background-color: powderblue;
    color: #FF3838;
    font-size: 20px;
    border-color: #FF3838
} 

.flash{
    display: flex;
    position: absolute;
    padding: .8em;
    border-radius: 10px;
    text-align: center;
    background-color: #FF1414;
    top: 0%;
    width: 100%;
    opacity: 1;
    gap: .4em;
    z-index: 1;
    box-shadow: 4px 4px 12px rgba(0, 50, 100, 0.3);
    animation: FadeOut 0.5s ease-in 3s forwards;
}

@keyframes FadeOut{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(-100%);
        opacity: .3;
        visibility: hidden;
    }
}

.flash.success{
    background-color: #48A6A7;
    color: ghostwhite;
}