*{
    margin: 0;
    border:none;
    font-family: "Poppins";
    font-weight: 400;
}

.body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header{
    font-weight: 700;
    font-size: 24px;
    padding: 0.7rem;
    color: #48A6A7;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3%;
    max-height: 100px;
    width: 100%;
}
.main{
    overflow-y: auto;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.sender{
    padding: 1rem;
    font-size: 20px;
}
.file{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.preview{
	position: absolute;
	top: 20%;
    max-width: 85vw;
    max-height: 30%;
    border-radius: 1rem;
     box-shadow: 4px 4px 12px rgba(0, 50, 100, 0.3);
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
}
form > input{
    position: absolute;
    width: 85%;
    height: 7%;
    top: 90%;
    border-radius: 1rem;
    font-size: 1.2rem;
    background-color: #48A6A7;
}

.details{
    position: absolute;
    top: 60%;
    margin: 0 3rem 0 0;
    line-height: 2rem;
    background: floralwhite;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    max-width: 90%;
}

#details-heading{
    font-size: 18px;
}

.flash{
    display: flex;
    position: absolute;
    padding: .8em;
    border-radius: 10px;
    text-align: center;
    background-color: #FF1414;
    align-self: flex-end;
    top: 0%;
    width: 85%;
    opacity: 1;
    gap: .4em;
    z-index: 1;
    box-shadow: 4px 4px 12px rgba(0, 50, 100, 0.3);
    animation: FadeOut 0.5s ease-in 3s forwards;
}

@keyframes FadeOut{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(-100%);
        opacity: .3;
        visibility: hidden;
    }
}

.flash.success{
    background-color: #48A6A7;
    color: ghostwhite;
}

.flash > span{
	font-size: 70px;
}