*{
    margin: 0;
    border:none;
    font-family: "Poppins";
    font-weight: 400;
}

.body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.header{
    font-weight: 700;
    font-size: 24px;
    padding: 0.7rem;
    color: #48A6A7;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3%;
    max-height: 100px;
    width: 100%;
}
.main{
    overflow-y: auto;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.sender{
    padding: 1rem;
    font-size: 20px;
}
.file{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.preview{
    width: 90%;
    border-radius: 1rem;
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
}
form > input{
    position: absolute;
    width: 85%;
    height: 7%;
    top: 90%;
    border-radius: 1rem;
    font-size: 1.2rem;
    background-color: #48A6A7;
}

.details{
    position: absolute;
    top: 50%;
    margin: 0 3rem 0 0;
    line-height: 2rem;
    background: floralwhite;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

#details-heading{
    font-size: 18px;
}