*{
    margin: 0;
    font-family: "Poppins";
    font-weight: 400;
}

.main{
    background-color: powderblue;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

form{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
form p{
    font-size: 0.7rem;
    height: auto;
}

.info{
   border: 5px solid ghostwhite;
   font-size: 24px;
   border-radius: 2rem;
   line-height: 30px;
   padding: 0.8rem;
}

.url{
  background-color: ghostwhite;
  border: 5px solid ghostwhite;
  border-radius: 2rem;
  height: 4vh;
  width: 80vw;
}

input[type="submit"]{
    position: absolute;
    top: 85%;
    width: 90%;
    height: 7%;
    border: none;
    
    border-radius: 1.5rem;
}