
h2{
    font-weight: 600;
    color: #48A6A7;
}


.submit{
    padding-bottom: 5em;
}



.greeting{
    padding: 3em 0 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}