*{
    margin: 0;
}

.body{
    height: 100vh;
    max-height: 720px;
    background-color: powderblue;
    overflow: hidden;
    padding: 20px;
}

input[type="file"]{
    width: 70vw;
    height: 30vh;
    border: 2px solid cadetblue;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
}

input[list="folder"]{
    width: 40vw
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.submit{
    width: 20vw;
    height: 5vh;
    align-self: flex-end;
    background-color: lightblue;
    border: 2px solid cadetblue;
}