<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">-->
    <script src="https://code.iconify.design/iconify-icon/2.3.0/iconify-icon.min.js"></script>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
    <link rel="stylesheet" href="../static/css/home.css" type="text/css" media="all" />
    <title>vault in the clouds</title>
</head>

<body>
    <div class="body">
        <div class="header">
            <img src="../static/image/logo.webp" alt="profile">
            <h2>StratoVault</h2>
            <button id="mode"></button>
        </div>
        <div class="main">
            <a href=""><div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
                <p class="name">Videos of me</p>
            </div>
            </a>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="file">
                <div class="controls">
                    <iconify-icon icon="mingcute:video-fill"></material-symbols:folder-rounde></iconify-icon>
                    <div class="options">
                        <iconify-icon icon="material-symbols:download-rounded"></iconify-icon>
                        <iconify-icon icon="ic:baseline-share"></iconify-icon>
                        <iconify-icon icon="material-symbols-light:delete-outline-rounded"></iconify-icon>
                    </div>
                </div>
                <p class="name">Video.mp4</p>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="folder">
                <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
            </div>
            <div class="circle">
                <iconify-icon icon="ic:outline-cloud"></iconify-icon>
            </div>
        </div>
    </div>
</body>

</html>