<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">-->
    <script src="https://code.iconify.design/iconify-icon/2.3.0/iconify-icon.min.js"></script>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}" type="text/css" media="all" />
    <title>vault in the clouds</title>
</head>

<body>
    <div class="body">
            {% with messages=get_flashed_messages(with_categories = True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "success" %}
                    <div class="flash success">
                        <span class="iconify" data-icon="material-symbols:cancel-outline-rounded"></span>
                        <p>{{ message }}</p>
                    </div>
                    {% elif category == "error" %}
                    <div class="flash">
                        <span class="iconify" data-icon="material-symbols:cancel-outline-rounded"></span>
                        <p>{{ message }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="header">
            <a href="{{ url_for('profile') }}"><img src="{{ url_for('static', filename = 'image/logo.webp') }}" alt="profile"></a>
            <h2>{{ heading }}</h2>
            <button id="mode"></button>
        </div>
        <div class="main">
        {% if folders %}
            {% for folder_name in folders %}
                <a href="{{ url_for('cloud', folder = folder_name) }}">
                    <div class="folder">
                        <iconify-icon icon="material-symbols:folder-rounded"></iconify-icon>
                        <p class="name">{{ folder_name }}</p>
                    </div>
                </a>
            {% endfor %}
        {% elif files %}
            {% for file_name in files %}
                {% if (file_name.lower().endswith('.mp4')) or (file_name.lower().endswith('.mkv')) or (file_name.lower().endswith('.mov')) or (file_name.lower().endswith('.avi')) %}
                    <div class="file">
                        <div class="controls">
                            <a href="{{ url_for('preview', folder = folder, filename = file_name) }}"><iconify-icon icon="mingcute:video-fill"></iconify-icon></a>
                            <div class="options">
                                <a href="{{ url_for('download', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols:download-rounded"></iconify-icon></a>
                                <a href="{{ url_for('share', folder = folder, filename = file_name) }}"><iconify-icon icon="ic:baseline-share"></iconify-icon></a>
                                <a href="{{ url_for('delete', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols-light:delete-outline-rounded"></iconify-icon></a>
                            </div>
                        </div>
                        <p class="name">{{ file_name }}</p>
                    </div>
                {% elif (file_name.lower().endswith('.jpg')) or (file_name.lower().endswith('.jpeg')) or (file_name.lower().endswith('.gif')) or (file_name.lower().endswith('.webp')) or (file_name.lower().endswith('png')) %}
                    <div class="file">
                        <div class="controls">
                            <a href="{{ url_for('preview', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols:image-rounded"></iconify-icon></a>
                            <div class="options">
                                <a href="{{ url_for('download', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols:download-rounded"></iconify-icon></a>
                                <a href="{{ url_for('share', folder = folder, filename = file_name) }}"><iconify-icon icon="ic:baseline-share"></iconify-icon></a>
                                <a href="{{ url_for('delete', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols-light:delete-outline-rounded"></iconify-icon></a>
                            </div>
                        </div>
                        <p class="name">{{ file_name }}</p>
                    </div>
                {% elif (file_name.lower().endswith('.mp3')) or (file_name.lower().endswith('.wav')) or (file_name.lower().endswith('.ogg')) %}
                    <div class="file">
                        <div class="controls">
                            <a href="{{ url_for('preview', folder = folder, filename = file_name) }}"><iconify-icon icon="gridicons:audio"></iconify-icon></a>
                            <div class="options">
                                <a href="{{ url_for('download', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols:download-rounded"></iconify-icon></a>
                                <a href="{{ url_for('share', folder = folder, filename = file_name) }}"><iconify-icon icon="ic:baseline-share"></iconify-icon></a>
                                <a href="{{ url_for('delete', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols-light:delete-outline-rounded"></iconify-icon></a>
                            </div>
                        </div>
                        <p class="name">{{ file_name }}</p>
                    </div>
                {% elif (file_name.lower().endswith('.pdf')) or (file_name.lower().endswith('.xlsx')) or (file_name.lower().endswith('.docx')) or (file_name.lower().endswith('.pptx')) %}
                    <div class="file">
                        <div class="controls">
                            <iconify-icon icon="iconamoon:file-document-light"></iconify-icon>
                            <div class="options">
                                <a href="{{ url_for('download', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols:download-rounded"></iconify-icon></a>
                                <a href="{{ url_for('share', folder = folder, filename = file_name) }}"><iconify-icon icon="ic:baseline-share"></iconify-icon></a>
                                <a href="{{ url_for('delete', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols-light:delete-outline-rounded"></iconify-icon></a>
                            </div>
                        </div>
                        <p class="name">{{ file_name }}</p>
                    </div>
                {% elif (file_name.lower().endswith('.zip')) or (file_name.lower().endswith('.7z')) or (file_name.lower().endswith('.rar')) or (file_name.lower().endswith('.tar.gz')) %}
                    <div class="file">
                        <div class="controls">
                            <iconify-icon icon="ant-design:file-zip-filled"></iconify-icon>
                            <div class="options">
                                <a href="{{ url_for('download', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols:download-rounded"></iconify-icon></a>
                                <a href="{{ url_for('share', folder = folder, filename = file_name) }}"><iconify-icon icon="ic:baseline-share"></iconify-icon></a>
                                <a href="{{ url_for('delete', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols-light:delete-outline-rounded"></iconify-icon></a>
                            </div>
                        </div>
                        <p class="name">{{ file_name }}</p>
                    </div>
                {% elif file_name.lower().endswith('.txt') %}
                    <div class="file">
                        <div class="controls">
                            <iconify-icon icon="lsicon:file-txt-filled"></iconify-icon>
                            <div class="options">
                                <a href="{{ url_for('download', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols:download-rounded"></iconify-icon></a>
                                <a href="{{ url_for('share', folder = folder, filename = file_name) }}"><iconify-icon icon="ic:baseline-share"></iconify-icon></a>
                                <a href="{{ url_for('delete', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols-light:delete-outline-rounded"></iconify-icon></a>
                            </div>
                        </div>
                        <p class="name">{{ file_name }}</p>
                    </div>
                {% elif file_name.lower().endswith('.csv') %}
                    <div class="file">
                        <div class="controls">
                            <iconify-icon icon="lsicon:file-csv-filled"></iconify-icon>
                            <div class="options">
                                <a href="{{ url_for('download', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols:download-rounded"></iconify-icon></a>
                                <a href="{{ url_for('share', folder = folder, filename = file_name) }}"><iconify-icon icon="ic:baseline-share"></iconify-icon></a>
                                <a href="{{ url_for('delete', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols-light:delete-outline-rounded"></iconify-icon></a>
                            </div>
                        </div>
                        <p class="name">{{ file_name }}</p>
                    </div>
                {% elif file_name.lower().endswith('.json') %}
                    <div class="file">
                        <div class="controls">
                            <iconify-icon icon="lucide:file-json"></iconify-icon>
                            <div class="options">
                                <a href="{{ url_for('download', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols:download-rounded"></iconify-icon></a>
                                <a href="{{ url_for('share', folder = folder, filename = file_name) }}"><iconify-icon icon="ic:baseline-share"></iconify-icon></a>
                                <a href="{{ url_for('delete', folder = folder, filename = file_name) }}"><iconify-icon icon="material-symbols-light:delete-outline-rounded"></iconify-icon></a>
                            </div>
                        </div>
                        <p class="name">{{ file_name }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        	<div class="cloud">
        		<a href="{{ url_for('upload') }}"><iconify-icon icon="ic:outline-cloud"></iconify-icon></a>
        	</div>
        </div>
    </div>
</body>

</html>