<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ type }} preview</title>
    <style>
        body{
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        video {
            width: 90vw;
            height: 50vh; 
        }
    </style>
</head>

<body>
    {% if type == "video" %}
    <video src="{{ url }}" preload="none" autoplay="autoplay"></video>
    {% elif type == "image" %}
    <img src="{{ url }}"/>
    {% elif type == "audio" %}
    <audio src="{{ url}}"></audio>
    {% endif %}
</body>

</html>