<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/profile.css" type="text/css" media="all" />
    <title></title>
</head>

<body>
    <div class="body">
        <img src="../static/image/ice_bear.jpeg" alt="" />
        <div class="username">
            <label for="Username">Username</label> 
            <input type="text" name="Username" id="Username" value="" />
        </div>
        <div class="email">
            
        </div>
    </div>
</body>

</html>