<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/profile.css') }}" type="text/css" media="all" />
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
    <title>StratoVault-Profile</title>
</head>

<body>
    <div class="body">
           {% with messages=get_flashed_messages(with_categories = True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "success" %}
                        <div class="flash success">
                            <span class="iconify" data-icon="ei:check"></span>
                            <p>{{ message }}</p>
                        </div>
                        {% elif category == "error" %}
                        <div class="flash">
                            <span class="iconify" data-icon="material-symbols:cancel-outline-rounded"></span>
                            <p>{{ message }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <img src="{{ profile_picture }}" alt="profile picture" />
        <div class="Firstname field">
            <form action="" method="post">
                {{ firstname.hidden_tag() }}
                {{ firstname.firstname.label }}
                {{ firstname.firstname }}   
                {{ firstname.submit(class='submit') }}
            </form>
        </div>
        <div class="Lastname field">
            <form action="" method="post">
                {{ lastname.hidden_tag() }}
                {{ lastname.lastname.label }}
                {{ lastname.lastname }}
                {{ lastname.submit(class='submit') }}
            </form>
        </div>
        <div class="email field">
            <form action="" method="post">
                {{ email.hidden_tag() }}
                {{ email.email.label }}
                {{ email.email }}
                <p style="font-size: 12px">*you would be required to input your password and verify your new email with an OTP</p>  
                {{ email.submit(class='submit') }}
            </form>
            
        </div>
        <p class="password">Change your password <a href="{{ url_for('request_password_change') }}">here</a></p>
        <a class="logout" href="{{ url_for('logout') }}"><button class="logout" >Logout</button></a>
    </div>
</body>

</html>