<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.iconify.design/iconify-icon/2.3.0/iconify-icon.min.js"></script>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
    <link rel="stylesheet" href="../static/css/shared.css" type="text/css" media="all" />
    <title>StratoVault-CloudShare</title>
</head>

<body>
    <div class="body">
    <div class="header">
        <p>StratoVault</p>   
    </div>
    <div class="main">
        <div class="sender">
            <p>{{ sender }} sent you a file</p>
        </div>
        <div class="file">
                {% if filetype.startswith("video") %}
                    <video class="preview" src="{{ url }}" controls></video>
                {% elif filetype.startswith("audio") %}
                    <audio class="preview"src="{{ url }}"></audio>
                {% elif filetype.startswith("image") %}
                    <img class="preview" src="{{ url }}" alt="{{ filename }}" />
                {% endif %}
            <div class="details">
                <p id="details-heading">File Information</p>
                <p>Name: {{ filename }}</p>
                <p>Size: {{ filesize }}</p>
                <p>Content type: {{ filetype }}</p>
            </div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit }}
            </form>
        </div>
    </div>
    </div>
</body>

</html>