<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.iconify.design/iconify-icon/2.3.0/iconify-icon.min.js"></script>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
    <link rel="apple-touch-icon" href="favicon.png" />
    <link rel="stylesheet" href="../static/css/share.css" type="text/css" media="all" />
    <title>Cloud Share</title>
</head>

<body>
    <div class="main">
        <div class="info">
            <p>File Name: Juwon.mp4</p> 
            <p>File Size: 50mb</p>
        </div>
        <form action="" method="post">
            <div class="recievers">
                <label for="recievers">Who can use your link</label>
                <input type="text" name="recievers" id="reciever" value="" />
                <p>Keep empty if link can be used by everyone, if multiple recievers separate with a comma</p>
            </div>
            <div class="url">
                <p>Share link is going to appear here</p> 
            </div>
            <input type="submit" value="Share" />
        </form>
    </div>
</body>

</html>