<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/signup.css') }}" type="text/css" media="all" />
    <title>{{ title }}</title>
</head>

<body>
    <div class="screen">
        <div class="greeting">
        {% with messages=get_flashed_messages(with_categories = True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "success" %}
                        <div class="flash success">
                            <span class="iconify" data-icon="material-symbols:cancel-outline-rounded"></span>
                            <p>{{ message }}</p>
                        </div>
                        {% elif category == "error" %}
                        <div class="flash">
                            <span class="iconify" data-icon="material-symbols:cancel-outline-rounded"></span>
                            <p>{{ message }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2>Enter the verification token sent to your email to verify your account</h2>
        </div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form">
                {% if form.otp.errors %}
                    <div class="otp field error">
                        {{ form.otp.label }}
                        <div class="input">
                            {{ form.otp(placeholder="000000")}}
                        </div>
                        {% for error in form.otp.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="otp field">
                        {{ form.otp.label }}
                        <div class="input">
                            {{ form.otp(placeholder="000000")}}
                        </div>
                    </div>
                    <p style="display: inline">Didn't receive an otp,<form action="" method="post" style="display: inline">{{ request.hidden_tag() }} {{ request.request(class="submit") }}</form> for a new one</p>
                {% endif %}
                <div class="submit">
                    {{ form.submit }}
                </div>
            </div>
        </form>
    </div>
    
</body>

</html>