<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../static/css/signup.css" type="text/css" media="all" />
    <title>Hive Cloud - Sign up</title>
</head>

<body>
    <div class="screen">
        <div class="greeting">
            <h2>Welcome to Hive Cloud, Sign in to continue</h2>
        </div>
        <form action="{{ request.path }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form">
                {% if form.username.errors %}
                    <div class="user field error">
                        {{ form.username.label }}
                        <div class="input">
                            <ion-icon name="person-outline"></ion-icon>
                            {{ form.username(placeholder="Pick a Username....")}}
                        </div>
                        {% for error in form.username.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                
                    <div class="user field">
                        {{ form.username.label }}
                        <div class="input">
                            <ion-icon name="person-outline"></ion-icon>
                            {{ form.username(placeholder="Pick a Username.....")}}
                        </div>
                    </div>
                {% endif %}
                {% if form.email.errors %}
                    <div class="email field error">
                        {{ form.email.label }}
                        <div class="input">
                            <ion-icon name="mail-outline"></ion-icon>
                            {{ form.email }}
                        </div>
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                 {% else %}
                    <div class="email field">
                        {{ form.email.label }}
                        <div class="input">
                            <ion-icon name="mail-outline"></ion-icon>
                            {{ form.email }}
                        </div>
                    </div>
                {% endif %}
                <div class="pass field">
                    <label for="Password">Password</label>
                    <div class="input">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="text" name="username" id="Username" />
                    </div>
                </div>
                <div class="cpass field">
                    <label for="ConfirmPassword">Confirm Password</label>
                    <div class="input">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="text" name="ConfirmPassword" id="ConfirmPassword" />
                    </div>
                </div>
                <div class="submit">
                    <input type="submit" value="Signup" />
                </div>
            </div>
        </form>
    </div>
    
</body>

</html>