<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../static/css/signup.css" type="text/css" media="all" />
    <title>Some Archive- Sign up</title>
</head>

<body>
    <div class="screen">
        <div class="greeting">
        {% with messages=get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash">
                            <span class="iconify" data-icon="material-symbols:cancel-outline-rounded"></span>
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2>Welcome to Cloud archive! Sign up to get started</h2>
        </div>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form">
                {% if form.first_name.errors %}
                    <div class="user field error">
                        {{ form.first_name.label }}
                        <div class="input">
                            <ion-icon name="person-outline"></ion-icon>
                            {{ form.first_name(placeholder="John")}}
                        </div>
                        {% for error in form.first_name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="user field">
                        {{ form.first_name.label }}
                        <div class="input">
                            <ion-icon name="person-outline"></ion-icon>
                            {{ form.first_name(placeholder="John")}}
                        </div>
                    </div>
                {% endif %}
                {% if form.last_name.errors %}
                   <div class="user field error">
                       {{ form.last_name.label }}
                        <div class="input">
                           <ion-icon name="person-outline"></ion-icon>
                           {{ form.last_name(placeholder="Doe")}}
                        </div>
                            {% for error in form.last_name.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                {% else %}
                    <div class="user field">
                        {{ form.last_name.label }}
                        <div class="input">
                            <ion-icon name="person-outline"></ion-icon>
                            {{ form.last_name(placeholder="Doe")}}
                        </div>
                   </div>
                {% endif %}
                {% if form.email.errors %}
                    <div class="email field error">
                        {{ form.email.label }}
                        <div class="input">
                            <ion-icon name="mail-outline"></ion-icon>
                            {{ form.email(placeholder="johndoe@some-archive.com")}}
                        </div>
                        {% for error in form.email.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="email field">
                        {{ form.email.label }}
                        <div class="input">
                            <ion-icon name="mail-outline"></ion-icon>
                            {{ form.email(placeholder="johndoe@some-archive.com") }}
                        </div>
                    </div>
                {% endif %}
                <div class="submit">
                    {{ form.signup }}
                </div>
            </div>
        </form>
    </div>
    
</body>

</html>